.card-img{
    width: 320px;
    height: 300px;
    border-radius: 8px;
    position: relative;

}
.container{
    margin: 0px auto;
    display: flex;
    gap: 15px;
    flex-wrap:wrap ;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    

}
.card-header{
    position: relative;

}
.heart-logo{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin-left: -80px;
}
.star-logo{
    width: 12px;
    height: 12px;
    margin-left: 205px; 

}
.flex{
display: flex;
justify-content: space-between ;
    align-items: center;
    margin-top: -14px;
}
.flex2{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    margin-top: -8px;
    font-size: 14px;
}
p{
    margin-top: -13px;
    color: rgb(63, 63, 63);
}
.night{
    font-weight: normal;
    font-weight: 400;
    font-size: 15px;
}
.main-logo{
    width: 120px;
    height: 37px;
    color: rgb(253, 35, 122);
}
.nav-icon{
    width: 22px;
    height: 22px;
}
.icon-btn{
    height: 38px;
    border-radius: 24px;
    border: 2px solid lightgray;
    background-color: white;
}
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 15px 78px;

}
.search-input{
    width: 340px;
    height: 40px;
border-radius: 24px;
margin-left: 290px;
margin-right: 155px;
border: 1px solid lightgray;
background-color: white;
}
.search-btn{
    width: 29px;
    height: 29px;
    border-radius: 50%;
    padding: -6px;
    fill: rgb(253, 35, 122);
    background-color: rgb(251, 84, 95);
    border: none;
    margin-left: -200px;
    

}
.links{
    display: flex;
    align-items: center;
    gap: 7px;
    /* justify-content: space-evenly; */
}
.icons{
    margin-left: 300px;
    display: flex;
    align-items: center;
    gap: 5px;
}
hr{
    border-top: 1px solid lightgray;
}
.nav2{
    display: flex;
    justify-content: space-between;
    margin: 25px 70px;
}
.i{
    width: 37px;
    height: 37px;
}
.arrow{
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 5px;
}
.filter.btn{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    gap: 9px;
    background-color: white;
}
.tab{
    width: 20px;
    height: 20px;
}
.nav3{
    width: 1150px;
    height: 10px;
    display: flex;
    justify-content: space-between;
    margin: -15px 0px 70px 70px;
    font-family: 'Manrope', sans-serif;
    font-size: small;
    font-weight: 600;
}
.nav4{
    display: flex;
    width: 650px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    justify-content: space-between;
    align-items: center;
    margin: -35px auto;
    margin-bottom: 35px;
    padding: 15px;
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
}
.svg{
    color: gray;
}
.include{
    margin-left: -170px;
    color: gray;
}
